<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en-us"/>
    <title>Toolviews</title>
    <meta http-equiv="imagetoolbar" content="no"/>
  </head>
  <body>
    <h1>Toolviews</h1>
    <p>View analytic data about usage of Toolforge tools.</p>
    <ul>
      <li><a href="{{ url_for('flasgger.apidocs') }}">API</a></li>
      <li>Pretty visualizations "coming soon".</li>
    </ul>
  </body>
</html>
